.score-board {
  width: 100%;
  margin-top: 2em;
  background-color: #ccc;
  font-size: 24px;
}

.score-board tbody tr:nth-child(odd) {
  background-color: #eee;
}

.score-board .player.offline {
  font-style: italic;
  color: #888;
}
